fish_variables
NVIMS/
plugged/
dotfiles/.config/tmux/serious
tags
node_modules
dotfiles/.config/tmux/resurrect/
**/tmux/plugins/
**/tmux/themes/
dotfiles/.config/coc/mru
dotfiles/.config/coc/extensions/coc-yank-data/yank
dotfiles/.config/coc/memos.json
dotfiles/.config/coc/history.json
dotfiles/.config/nvim/library/
**/*nvm*
**/bin/vf
**/bin/virtualenv
**/virtualfish-loader.fish
**/blsd
dotfiles/.config/coc/**/*.json
dotfiles/.config/coc/**/*.dat
tags*
!dotfiles/.config/coc/ultisnips/python.snippets
dotfiles/.config/coc/commands
dotfiles/.config/coc/explorer-actions
dotfiles/.config/coc/extensions/
dotfiles/.config/coc/lists

# dotfiles/.local/bin/ - exclude most, only track key scripts
dotfiles/.local/bin/*
!dotfiles/.local/bin/install-alacritty-sixel
!dotfiles/.local/bin/contact
!dotfiles/.local/bin/essentials

dotfiles/.config/alacritty/themes/
