fish_variables
NVIMS/
plugged/
dotfiles/.config/tmux/serious
library/
tags
node_modules
dotfiles/.config/tmux/resurrect/
**/tmux/plugins/
**/tmux/themes/
dotfiles/.config/coc/mru
dotfiles/.config/coc/extensions/coc-yank-data/yank
